!/m4/python.m4
*.m4
*.o
**/.deps
autom4te.cache/
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
COPYING
data/com.canonical.NotifyOSD.gschema.valid
data/org.freedesktop.Notifications.service
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile*
missing
src/notify-osd
src/stack-glue.h
stamp-h1
test-driver