[Desktop Entry]
Name=Notify OSD
Comment=Display notifications
Comment[zh_CN]=显示通知
Exec=/usr/libexec/notify-osd
Terminal=false
Type=Application
NotShowIn=KDE;
X-GNOME-Autostart-enabled=false
